@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  margin:0;
  padding:0;
}

.body {
  background-color: rgb(17, 17, 17);
}

.my_navbar{
  background: rgb(255, 252, 252);
}


.border_top{
  border-top-color: #343434;
}


.border_right{
  border-right-color: #343434;
}

.border_left{
  border-left-color: #343434;
}


.eggShell{
  background-color: #ffffff;
}


body{
  min-height: 100vh;
}

.main_image{
  aspect-ratio: auto 1044 / 587;
}

.trends_section{
  margin: 4rem 1rem;
}

.single_item_trends{
  flex: 1;
  flex-wrap: wrap;
}


.word{
 letter-spacing: 5px;
}

.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.navbar_none{
  display: none;
}

.btn_image{
  align-self: flex-start;
  /* justify-self: end; */
}